<mat-card class="single-character-details">
  <div class="single-character-details-row">
    <span> Status</span> <b>{{ character.status }}</b>
  </div>
  <div class="single-character-details-row">
    <span> Species</span> <b>{{ character.species }}</b>
  </div>
  <div class="single-character-details-row">
    <span> Type</span> <b>{{ character.type }}</b>
  </div>
  <div class="single-character-details-row">
    <span> Gender</span> <b>{{ character.gender }}</b>
  </div>
  <div class="single-character-details-row">
    <span> Origin</span>
    <b>{{ character.origin.name }}</b>
  </div>
  <div class="single-character-details-row">
    <span> Location</span>
    <b>{{ character.location.name }}</b>
  </div>
</mat-card>
